#slide4 {
    background-image: url(../assets/bg-4.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    top: 300vh;
}

#slide4 .kcb-logo {
    align-self: flex-start;
    margin-top: 10px;
}

#slide4 .kcb-logo img {
    max-width: 20vw;
}

#slide4 .rate-hero, #slide4 .text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

#slide4 .rate-hero img {
    height: 50vh;
}

#slide4 .text-hero img {
    height: 60%;
}

#slide4 .footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

#slide4 .footer img[alt="bottom-left"] {
    align-self: flex-start;
}

#slide4 .footer img[alt="tag"] {
    align-self: flex-end;
}

@media (max-width: 1200px) and (min-width: 993px) {
    #slide4 .kcb-logo img {
        max-width: 23vw;
    }
    
    #slide4 .rate-hero img {
        height: 42vh;
    }

    #slide4 .text-hero img {
        height: 45%;
    }

    #slide4 .footer {
        bottom: 5px;
    }

    #slide4 .footer img[alt="bottom-left"] {
        width: 25vw;
    }

    #slide4 .footer img[alt="tag"] {
        width: 15vw;
    }
}

@media (max-width: 992px) {
    #slide4 {
        padding: 5%;
    }
    
    #slide4 .kcb-logo img {
        max-width: 26vw;
    }

    #slide4 .rate-hero {
        top: -10%;
    }

    #slide4 .rate-hero img {
        height: 35vh;
    }

    #slide4 .text-hero {
        bottom: 15%;
    }

    #slide4 .text-hero img {
        height: 20vh;

    }

    #slide4 .footer {
        bottom: -25px;
        padding: 7%;
    }

    #slide4 .footer img[alt="bottom-left"] {
        width: 33vw;
    }

    #slide4 .footer img[alt="tag"] {
        width: 23vw;
        left: 10%;
    }
}

@media (max-width: 768px) {
    #slide4 {
        padding: 5%;
    }
    
    #slide4 .kcb-logo img {
        max-width: 30vw;
    }

    #slide4 .rate-hero {
        top: -10%;
    }

    #slide4 .rate-hero img {
        height: 35vh;
    }

    #slide4 .text-hero {
        bottom: 14%;
    }

    #slide4 .text-hero img {
        height: 20vh;
    }

    #slide4 .footer {
        bottom: 10px;
        padding: 7%;
        right: 2%;
    }

    #slide4 .footer img[alt="bottom-left"] {
        width: 33vw;
    }

    #slide4 .footer img[alt="tag"] {
        width: 23vw;
        left: 10%;
    }
}

@media (max-width: 576px) {
    #slide4 {
        padding: 5%;
    }
    
    #slide4 .kcb-logo img {
        max-width: 25vw;
    }

    #slide4 .rate-hero {
        top: -10%;
    }

    #slide4 .rate-hero img {
        height: 30vh;
    }

    #slide4 .text-hero {
        bottom: 17%;
    }

    #slide4 .text-hero img {
        height: 15vh;
    }

    #slide4 .footer {
        bottom: 10px;
        padding: 7%;
        right: 2%;
    }

    #slide4 .footer img[alt="bottom-left"] {
        width: 30vw;
    }

    #slide4 .footer img[alt="tag"] {
        width: 20vw;
        left: 10%;
    }
}
